
body {
    font-family: Arial, sans-serif;
    background-color: #f2f6ff;
    padding: 20px;
    text-align: center;
}

h1 {
    color: darkblue;
}

input {
    padding: 12px;
    width: 70%;
    border-radius: 8px;
    border: 1px solid gray;
}

button {
    padding: 12px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

li {
    list-style: none;
    background: white;
    margin: 10px auto;
    padding: 12px;
    width: 80%;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}

.completed {
    text-decoration: line-through;
    opacity: 0.6;
}
