const progressBar = document.getElementById("progressBar");
body {
    font-family: Arial, sans-serif;
    background-color: #f2f6ff;
    padding: 20px;
    text-align: center;
}

h1 {
    color: darkblue;
}

input, select {
    padding: 12px;
    margin: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 80%;
    max-width: 350px;
}

button {
    padding: 12px 15px;
    margin: 5px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    background: white;
    margin: 10px auto;
    padding: 15px;
    border-radius: 10px;
    max-width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed {
    text-decoration: line-through;
    opacity: 0.6;
}

.dark {
    background-color: #222;
    color: white;
}

.dark li {
    background-color: #333;
    color: white;
}
.progress-container {
    width: 90%;
    max-width: 400px;
    height: 20px;
    background: #ddd;
    border-radius: 20px;
    margin: 15px auto;
    overflow: hidden;
}

#progressBar {
    height: 100%;
    width: 0%;
    background: #22c55e;
    transition: width 0.5s;
}
